* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* anti overflow layout */
}

html,
body {
  overflow-x: hidden; /* anti scroll horizontal */
}

.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #1f1033, #3d1b9b, #5e3fff);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  padding: 0 20px;

  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.4);
}

/* Title */
.hero-content h1 {
  font-size: clamp(2.2rem, 6vw, 3.8rem); /* RESPONSIVE */
  font-weight: 800;
  line-height: 1.2;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.hero-content h1 span {
  color: #8f70ff;
  text-shadow: 0 1px 4px #6c6099;
}

/* Description */
.hero-content p {
  margin-top: 18px;
  font-size: clamp(0.95rem, 2.4vw, 1.12rem);
  opacity: 0.9;
  max-width: 600px;
  margin-inline: auto;
  font-weight: 300;
}

/* CTA Button */
.cta-btn {
  margin-top: 26px;
  padding: 12px 34px;
  font-size: clamp(0.9rem, 2.6vw, 1.05rem);
  border-radius: 40px;

  background: #ffffff;
  color: #3d1b9b;

  font-weight: 600;
  cursor: pointer;
  border: none;

  box-shadow: 0 0 18px rgba(255, 255, 255, 0.25);
  transition: 0.3s;
}

.cta-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 26px rgba(255, 255, 255, 0.35);
}

/* Wave bawah */
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: block;
  fill:black;
  filter: drop-shadow(0 -4px 5px rgba(0, 0, 0, 0.2));
}

/* Floating animation soft */
.hero-content {
  animation: float 7s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
