/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Wrapper */
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 18px 0;
  display: flex;
  justify-content: center;
}

/* Glass Navbar Container */
.nav-container {
  width: 88%;
  padding: 18px 30px;
  border-radius: 50px;
  background: rgba(20, 20, 20, 0.45);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.07);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.25s ease;
}

/* LOGO — DI SINI TIDAK ADA UNDERLINE */
.logo {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: oklch(92.9% 0.013 255.508);
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none; /* pastikan tidak underline */
}

.logo span {
  color:#8f70ff;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}

/* hanya nav link yang punya underline */
.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: #e6e6e6;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

/* underline effect */
.nav-links a::after {
  content: "";
  width: 0;
  height: 2px;
  background:#e6e6e6;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #8f70ff;
}

.nav-links a:hover::after {
  width: 100%;
}

/* CTA */
.cta {
  background: linear-gradient(135deg, #8172b8, #8f70ff);
  padding: 10px 22px;
  border-radius: 30px;
  color: white !important;
  font-weight: 600;
  transition: 0.3s;
}

.cta:hover {
  transform: scale(1.08);
}

/* MOBILE MENU ICON */
.menu-btn {
  width: 35px;
  height: 27px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-btn span {
  display: block;
  height: 4px;
  background: #ffffff;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

/* BURGER ANIMATION */
.menu-btn.open span:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}
.menu-btn.open span:nth-child(2) {
  opacity: 0;
}
.menu-btn.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
}

/* RESPONSIVE */
@media (max-width: 820px) {
  .menu-btn {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 110%;
    right: 0;
    width: 100%;
    background: rgba(15, 15, 15, 0.9);
    border-radius: 18px;
    text-align: center;
    gap: 25px;
    padding: 28px 0;
    opacity: 0;
    transform: translateY(-12px);
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .nav-links.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .nav-container {
    width: 92%;
  }
}
