.running-text-container {
  margin-bottom: 5%;
  margin-top: 4%;
  width: 100%;
  overflow: hidden;
  /* background: rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur(4px);
  padding: 16px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  white-space: nowrap;
  display: flex;
}

.marquee-content {
  display: flex;
  /* Durasi 20s bisa kamu ganti untuk mempercepat/lambat */
  animation: scrollText 20s linear infinite;
}

.marquee-content span {
  font-size: 1.5rem; /* Ukuran mobile */
  font-weight: bold;
  color: white;
  letter-spacing: 0.05em;
  padding-right: 20px; /* Jarak antar teks */
}

/* Ukuran Desktop */
@media (min-width: 768px) {
  .marquee-content span {
    font-size: 1.875rem;
  }
}

/* Animasi Inti */
@keyframes scrollText {
  from {
    transform: translateX(0);
  }
  to {
    /* Menarik konten ke kiri sebanyak setengah dari total panjangnya */
    transform: translateX(-50%);
  }
}
