* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar wrapper */
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

/* Glass navbar */
.nav-container {
  width: 88%;
  padding: 18px 30px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.18);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
}

.nav-container::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 35px;
  background: rgba(255, 255, 255, 0.2);
  filter: blur(20px);
  border-radius: 50%;
}

/* Logo */
.logo {
  font: bold;
  font-size: 28px;
  font-weight: 800;
  color: #ccd0cf;
}
.logo span {
  color: #f97316;
}

/* Nav links desktop */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
  transition: all 0.4s ease;
}

.nav-links a {
  text-decoration: none;
  font-size: 17px;
  color: #131313;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #f97316;
  transform: translateY(-3px);
}

/* CTA button */
.cta {
  background: linear-gradient(135deg, #f97316, #fb923c);
  padding: 10px 22px;
  border-radius: 30px;
  color: white !important;
  font-weight: 600;
  transition: 0.3s ease;
}
.cta:hover {
  transform: scale(1.07);
}

/* Mobile menu button */
.menu-btn {
  width: 35px;
  height: 27px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-btn span {
  display: block;
  height: 4px;
  background: #18181b;
  border-radius: 10px;
  transition: 0.3s;
}

/* Burger animation */
.menu-btn span.open:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}
.menu-btn span.open:nth-child(2) {
  opacity: 0;
}
.menu-btn span.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
}

/* Mobile nav */
@media (max-width: 820px) {
  .menu-btn {
    display: flex;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110%;
    right: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    text-align: center;
    gap: 25px;
    padding: 25px 0;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
  }

  .nav-links.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    transition: all 0.3s ease;
  }

  .nav-container {
    width: 92%;
  }
}
