/* ================================
   SERVICES SECTION
================================ */
.services-section {
  margin-top: 7%;
}

/* Container untuk judul */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Judul section Services */
.section-title {
  font-size: 4rem;
  font-weight: 900;
  color: #1a1a1a;
  margin-bottom: 40px;
}

.section-title span {
  color: #f97316;
}

/* ================================
   CARD SERVICES
================================ */
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 50px 20px;
}

.service-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 40px 30px;
  width: 650px;
  height: 300px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Hover */
.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

.service-icon {
  font-size: 60px;
  margin-bottom: 20px;
}

.service-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.service-description {
  font-size: 18px;
  color: #555;
}

/* ================================
   POPUP
================================ */

/* Overlay gelap */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Box popup */
.popup-box {
  background: #ffffff;
  padding: 25px;
  width: 90%;
  max-width: 400px;
  border-radius: 15px;
  animation: popupFade 0.25s ease;
  text-align: justify;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

@keyframes popupFade {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Tombol close */
.close-btn {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #1b1464;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.close-btn:hover {
  opacity: 0.85;
}
